/****** Object:  Database [FAC_GrantsAudits]    Script Date: 8/9/2019 2:28:03 PM ******/
CREATE DATABASE [FAC_GrantsAudits]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S1', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/****** Object:  Table [dbo].[AGENCY]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENCY](
	[ROWID] [int] IDENTITY(1,1) NOT NULL,
	[AUDITYEAR] [varchar](4) NULL,
	[DBKEY] [varchar](255) NULL,
	[EIN] [varchar](255) NULL,
	[AGENCY] [varchar](255) NULL,
	[CREATIONDT] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CFDA]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFDA](
	[AUDITYEAR] [smallint] NULL,
	[DBKEY] [int] NULL,
	[EIN] [int] NULL,
	[CFDA] [nvarchar](100) NULL,
	[AWARDIDENTIFICATION] [nvarchar](1000) NULL,
	[RD] [nvarchar](1) NULL,
	[FEDERALPROGRAMNAME] [nvarchar](1200) NULL,
	[AMOUNT] [bigint] NULL,
	[CLUSTERNAME] [nvarchar](100) NULL,
	[STATECLUSTERNAME] [nvarchar](100) NULL,
	[PROGRAMTOTAL] [bigint] NULL,
	[CLUSTERTOTAL] [bigint] NULL,
	[DIRECT] [bit] NULL,
	[PASSTHROUGHAWARD] [bit] NULL,
	[PASSTHROUGHAMOUNT] [int] NULL,
	[MAJORPROGRAM] [bit] NULL,
	[TYPEREPORT_MP] [nvarchar](50) NULL,
	[TYPEREQUIREMENT] [nvarchar](20) NULL,
	[QCOSTS2] [nvarchar](20) NULL,
	[FINDINGS] [nvarchar](10) NULL,
	[FINDINGREFNUMS] [nvarchar](150) NULL,
	[ARRA] [nvarchar](10) NULL,
	[LOANS] [bit] NULL,
	[LOANBALANCE] [bigint] NULL,
	[FINDINGSCOUNT] [tinyint] NULL,
	[ELECAUDITSID] [nvarchar](300) NULL,
	[OTHERCLUSTERNAME] [nvarchar](10) NULL,
	[CFDAPROGRAMNAME] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CPAS]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPAS](
	[DBKEY] [int] NOT NULL,
	[AUDITYEAR] [smallint] NOT NULL,
	[CPAFIRMNAME] [nvarchar](100) NOT NULL,
	[CPAEIN] [int] NOT NULL,
	[CPASTREET1] [nvarchar](50) NOT NULL,
	[CPACITY] [nvarchar](50) NOT NULL,
	[CPASTATE] [nvarchar](50) NOT NULL,
	[CPAZIPCODE] [int] NOT NULL,
	[CPACONTACT] [nvarchar](100) NOT NULL,
	[CPATITLE] [nvarchar](50) NOT NULL,
	[CPAPHONE] [float] NOT NULL,
	[CPAFAX] [float] NULL,
	[CPAEMAIL] [nvarchar](650) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUNS]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUNS](
	[AUDITYEAR] [smallint] NOT NULL,
	[DBKEY] [int] NOT NULL,
	[DUNS] [int] NOT NULL,
	[DUNSEQNUM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EINS]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EINS](
	[AUDITYEAR] [smallint] NULL,
	[DBKEY] [int] NULL,
	[EIN] [int] NULL,
	[EINSEQNUM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FINDINGS]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINDINGS](
	[DBKEY] [int] NULL,
	[AUDITYEAR] [smallint] NULL,
	[ELECAUDITSID] [int] NULL,
	[ELECAUDITFINDINGSID] [int] NULL,
	[FINDINGSREFNUMS] [nvarchar](150) NULL,
	[TYPEREQUIREMENT] [nvarchar](50) NULL,
	[MODIFIEDOPINION] [bit] NULL,
	[OTHERNONCOMPLIANCE] [bit] NULL,
	[MATERIALWEAKNESS] [bit] NULL,
	[SIGNIFICANTDEFICIENCY] [bit] NULL,
	[OTHERFINDINGS] [bit] NULL,
	[QCOSTS] [bit] NULL,
	[REPEATFINDING] [bit] NULL,
	[PRIORFINDINGREFNUMS] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEN]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEN](
	[AUDITYEAR] [smallint] NULL,
	[DBKEY] [int] NULL,
	[TYPEOFENTITY] [smallint] NULL,
	[FYENDDATE] [date] NULL,
	[AUDITTYPE] [nvarchar](1) NULL,
	[PERIODCOVERED] [nvarchar](50) NULL,
	[NUMBERMONTHS] [tinyint] NULL,
	[EIN] [int] NULL,
	[MULTIPLEEINS] [bit] NULL,
	[EINSUBCODE] [nvarchar](10) NULL,
	[DUNS] [int] NULL,
	[MULTIPLEDUNS] [bit] NULL,
	[AUDITEENAME] [nvarchar](100) NULL,
	[STREET1] [nvarchar](50) NULL,
	[STREET2] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[STATE] [nvarchar](2) NULL,
	[ZIPCODE] [int] NULL,
	[AUDITEECONTACT] [nvarchar](100) NULL,
	[AUDITEETITLE] [nvarchar](50) NULL,
	[AUDITEEPHONE] [bigint] NULL,
	[AUDITEEFAX] [nvarchar](50) NULL,
	[AUDITEEEMAIL] [nvarchar](100) NULL,
	[AUDITEEDATESIGNED] [date] NULL,
	[AUDITEENAMETITLE] [nvarchar](100) NULL,
	[CPAFIRMNAME] [nvarchar](100) NULL,
	[CPASTREET1] [nvarchar](50) NULL,
	[CPASTREET2] [nvarchar](50) NULL,
	[CPACITY] [nvarchar](50) NULL,
	[CPASTATE] [nvarchar](2) NULL,
	[CPAZIPCODE] [int] NULL,
	[CPACONTACT] [nvarchar](100) NULL,
	[CPATITLE] [nvarchar](50) NULL,
	[CPAPHONE] [bigint] NULL,
	[CPAFAX] [nvarchar](10) NULL,
	[CPAEMAIL] [nvarchar](100) NULL,
	[CPADATESIGNED] [date] NULL,
	[COG_OVER] [nvarchar](50) NULL,
	[COGAGENCY] [tinyint] NULL,
	[OVERSIGHTAGENCY] [tinyint] NULL,
	[TYPEREPORT_FS] [nvarchar](50) NULL,
	[SP_FRAMEWORK] [nvarchar](50) NULL,
	[SP_FRAMEWORK_REQUIRED] [nvarchar](50) NULL,
	[TYPEREPORT_SP_FRAMEWORK] [nvarchar](50) NULL,
	[GOINGCONCERN] [bit] NULL,
	[REPORTABLECONDITION] [bit] NULL,
	[MATERIALWEAKNESS] [bit] NULL,
	[MATERIALNONCOMPLIANCE] [bit] NULL,
	[TYPEREPORT_MP] [nvarchar](50) NULL,
	[DUP_REPORTS] [bit] NULL,
	[DOLLARTHRESHOLD] [int] NULL,
	[LOWRISK] [bit] NULL,
	[REPORTABLECONDITION_MP] [bit] NULL,
	[MATERIALWEAKNESS_MP] [bit] NULL,
	[QCOSTS] [bit] NULL,
	[CYFINDINGS] [bit] NULL,
	[PYSCHEDULE] [bit] NULL,
	[TOTFEDEXPEND] [float] NULL,
	[DATEFIREWALL] [date] NULL,
	[PREVIOUSDATEFIREWALL] [nvarchar](1) NULL,
	[REPORTREQUIRED] [nvarchar](1) NULL,
	[MULTIPLE_CPAS] [bit] NULL,
	[AUDITOR_EIN] [int] NULL,
	[FACACCEPTEDDATE] [nvarchar](400) NULL,
	[CPAFOREIGN] [nvarchar](1) NULL,
	[CPACOUNTRY] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSTHROUGH]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSTHROUGH](
	[DBKEY] [int] NULL,
	[AUDITYEAR] [smallint] NULL,
	[ELECAUDITSID] [int] NULL,
	[PASSTHROUGHNAME] [nvarchar](400) NULL,
	[PASSTHROUGHID] [nvarchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOURCEREFRESH]    Script Date: 8/9/2019 2:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOURCEREFRESH](
	[ROWID] [int] IDENTITY(1,1) NOT NULL,
	[FILENAME] [varchar](255) NOT NULL,
	[CREATIONDT] [datetime] NULL,
	[FILECOUNT] [int] NULL,
	[TABLECOUNT] [int] NULL,
	[ERRORCOUNT] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENCY] ADD  DEFAULT (getdate()) FOR [CREATIONDT]
GO
ALTER TABLE [dbo].[SOURCEREFRESH] ADD  DEFAULT (getdate()) FOR [CREATIONDT]
GO
